@charset "UTF-8";

*{
     margin: 0px;
     padding: 0px;

}

@font-face {
    font-family:  'draft' ;
    src: url(Font/EVILDEAD.TTF) format('truetype');
}

@font-face {
    font-family: 'italics';
    src: url(Font/KGPrimaryItalics.ttf) format('truetype');
}

body{
    
    background-color: aliceblue;
    min-height: 100vh;
    
}

header{

    background-color: darkolivegreen;
    
}

h1{
    
    text-align: center;
    font-family: 'draft', Arial, Helvetica, sans-serif;
    font-size: 5.5vw;
    padding: 70px 0px 20px 0px;
}

h4{
    font-size: 15px;
    text-align: center;
    padding-bottom: 80px;
}

p{
    font-family: 'italics', Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

a:hover{
    text-decoration: underline;
}

section.seção1, .seção3, .seção5{

        padding: 10vh 0px 10vh 30px;
        text-align: left;
        font-size: 5vw;
        line-height: 1.7em;
}

section.seção2, .seção4, .seção6{

    padding: 10vh 0px 10vh 30px;
        text-align: left;
        font-size: 4.5vw;
        line-height: 1.7em;
        background-color: black;
    
}

p.imagem{
    background-color: rgba(51, 51, 51);
    color: white;
}





