@charset "UTF-8";

body{
    height: 100vh;
    background: black url(Imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
    
}

div{
    
    height: auto;
    width: 400px;
    padding: 10px;
    border: 1px solid black ;
    text-align: justify;
    background-color: wheat;
    margin: auto;
    
}